<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:label="Đăng nhập"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:label="Đăng kí" android:name=".SignUp"/>
        <activity android:label="Thông tin" android:name=".Profile"/>
        <activity android:label="Trang chủ" android:name=".Home"/>
        <activity android:label="Sản phẩm hot" android:name=".Hot"/>
        <activity android:label="Danh mục" android:name=".Category"/>
        <activity android:label="Giỏ hàng" android:name=".Cart"/>
        <activity android:label="Thanh toán" android:name=".Payment"/>
        <activity android:label="Đặt hàng thành công" android:name=".Order_Success"/>
        <activity android:label="Đặt hàng thất bại" android:name=".Order_Fail"/>
        <activity android:label="Tình trạng đơn hàng" android:name=".Order_status"/>
        <activity android:label="Thông tin sản phẩm" android:name=".Product"/>
        <activity android:label="Yêu cầu đặt hàng" android:name=".BuyHelp"/>
    </application>

</manifest>
